:root {
	--main-text-color: #FFF;
	--secondary-text-color: #000;
	--suits-image-path: url(suits.png);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	background: radial-gradient(#02a920, #003006);
	margin: 0;
	padding: 10px 50px;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.no-border {
	border: none !important;
}

.no-style {
	list-style-type: none;
}

#app-name {
	text-align: center;
}

#app-name.titleInCorner {
	position: absolute;
}

#app-name a {
	font-family: 'Pacifico', cursive;
	color: var(--main-text-color);
}

#app-name a:hover {
	text-decoration: none;
}

.player-cards {
	display: inline-flex;
}

.pli,
#final-score {
	display: flex;
	justify-content: space-around;
}

.pli {
	margin-top: 10px;
}

#taker {
	margin-right: 10px;
}

#game-infos {
	position: fixed;
	top: 2.8rem;
	right: 3%;
	color: var(--main-text-color);
}

#atout-indicator,
#suits-two {
	display: flex;
    align-items: center;
}

.playing-card {
	position: relative;
	border: solid 1px #aaa;
	border-radius: 9px;
	width: 80px;
	height: 120px;
	background: #FFF;
	padding: 3px	;
	margin-right: -25px;
}
.playing-card.mini {
	height: auto;
	width: 55px;
}

#suits-two .playing-card.mini {
	margin-right: 5px;
}

.playing-card.playing-card-hidden {
	background: url(back.png);
	background-size: cover;
	border: 5px solid #FFF;
	box-shadow: -4px -2px 2px 0px #000;
}

.playing-card .value {
	font-size: 15pt;
	font-family: sans-serif;
	color: var(--secondary-text-color);
}

.playing-card .value.top {
	text-align: left;
}
.playing-card .value.bottom {
	text-align: right;
}

.small-suit {
	width: 10px;
	height: 10px;
}
.small-suit.top {
	position: absolute;
	top: 28px;
	left: 5px;
}
.small-suit.bottom {
	position: absolute;
	bottom: 29px;
	right: 3px;
}

.playing-card .suit {
	height: 50px;
	width: 45px;
	margin: 0 auto;
}

.playing-card .suit.hearts {
	background: var(--suits-image-path) 48px 0;
}

.playing-card .suit.diamonds {
	background: var(--suits-image-path) 2px 50px;
}

.playing-card .suit.spades {
	background: var(--suits-image-path) 2px 0;
}

.playing-card .suit.clubs {
	background: var(--suits-image-path) 47px 48px;
}

.small-suit.hearts.bottom,
.small-suit.hearts.top {
	background: var(--suits-image-path) -42px -50px;
}

.small-suit.diamonds.bottom,
.small-suit.diamonds.top {
	background: var(--suits-image-path) -42px -39px;
}

.small-suit.clubs.bottom,
.small-suit.clubs.top {
	background: var(--suits-image-path) -41px -60px;
}

.small-suit.spades.bottom,
.small-suit.spades.top {
	background: var(--suits-image-path) -42px -30px;
}

#board {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.playing-card.playable {
	cursor: pointer;
}

.btn-cancel-card:hover {
	box-shadow: 0 0 6px 0 #000;
}

.playing-card.playable:hover {
	box-shadow: 0 0 18px 0 #000;
	bottom: 10px;
}

.playing-card.takeable {
	margin: 30px auto;
}

.selected-atout {
	border: 2px solid green;
	padding: 4px;
}

.player-wrap {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	color: var(--main-text-color);
	position: fixed;
	width: 485px;
}

.player-wrap.west {
	left: 80px;
	transform: rotate(90deg) translateY(100%);
	top: 50%;
}

.player-wrap.south {
	bottom: 0;
	left: 40%;
}

.player-wrap.north {
	top: 10px;
	left: 40%;
}

.player-wrap.east {
	right: 80px;
	transform: rotate(-90deg) translateY(100%);
	bottom: 50%;
}

#players.deal-complete .player-wrap.east,
#players.deal-complete .player-wrap.west {
	top: 40%;
	bottom: auto;
}

.player-wrap p {
	margin: 0 0 10px 0;
}

.cancel-card {
	position: absolute;
	top: -12px;
	left: -12px;
}

.btn-cancel-card {
	padding: 3px 6px;
	background: #FFF;
	border-radius: 50%;
	cursor: pointer;
	border-color: #F00;
}

.played-card-player {
	text-align: center;
	color: var(--main-text-color);
	padding-top: 10px;
}

.played-card-player.last-pli-card {
	color: var(--secondary-text-color);
}

#pickup {
	margin-top: 50px;
}

.capot {
	font-size: 2em;
	font-weight: bold;
}

.btn-change-player {
	border: none;
	background: none;
    padding: 0;
	cursor: pointer;
}

.box {
	border: solid 1px rgba(51,51,51,0.12);
	background: rgba(246,246,246,1);
	border-radius: 10px;
	padding: 20px;
	width: 60%;
	margin: 0 auto;
}

.box-auto {
	width: auto;
}

.box hr {
	width: 25%;
}

#home {
	text-align: center;
}

#modal-last-pli {
	color: var(--secondary-text-color);
	height: 250px;
}

#btn-pickup {
	width: 100%;
	margin-top: 10px;
}

.text {
	color: var(--main-text-color);
}

/* Override bullshit of Materialize */
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
	border-color: #FFF !important;
}

#btn-restart {
	margin-top: 20px;
}

#take-two {
	margin-top: 50px;
}

.player-turn {
	border: 3px solid #cdb129;
}

#dealer {
	background: #4caf50;
	padding: 5px;
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	#choose-player {
		margin-top: 150px;
	}
	.playing-card {
		width: 50px;
		height: 80px;
	}

	.player-wrap {
		width: 340px;
		text-align: center;
	}

	.player-wrap.north {
		top: 20%;
		left: 10%;
	}

	.player-wrap.south {
		left: 10%;
	}

	#players.deal-complete .player-wrap.east {
		top: 52%;
		right: -10%;
	}

	#players.deal-complete .player-wrap.west {
		top: 52%;
		left: -10%;
	}

	.playing-card {
		margin: -5px;
	}
}
